<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,120}</string>
                <key>spriteSourceSize</key>
                <string>{118,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WaterPulse.png</string>
            <key>size</key>
            <string>{118,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f17c594580e6c64c84d455d9148f5f08:efc0939374290435e7b50c842f6f8cae:bf5990c71fb3cc221f639752ab5daf99$</string>
            <key>textureFileName</key>
            <string>WaterPulse.png</string>
        </dict>
    </dict>
</plist>
