<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,81}</string>
                <key>spriteSourceSize</key>
                <string>{76,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,82}</string>
                <key>spriteSourceSize</key>
                <string>{139,82}</string>
                <key>textureRect</key>
                <string>{{76,0},{139,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,81}</string>
                <key>spriteSourceSize</key>
                <string>{180,81}</string>
                <key>textureRect</key>
                <string>{{0,82},{180,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,62}</string>
                <key>spriteSourceSize</key>
                <string>{237,62}</string>
                <key>textureRect</key>
                <string>{{0,163},{237,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,65}</string>
                <key>spriteSourceSize</key>
                <string>{234,65}</string>
                <key>textureRect</key>
                <string>{{0,225},{234,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,61}</string>
                <key>spriteSourceSize</key>
                <string>{236,61}</string>
                <key>textureRect</key>
                <string>{{0,290},{236,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,65}</string>
                <key>spriteSourceSize</key>
                <string>{230,65}</string>
                <key>textureRect</key>
                <string>{{0,351},{230,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SolarBeam.png</string>
            <key>size</key>
            <string>{237,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee48ec81f85068789b745927cd418146:bcf6f07fa4a510379159421d18b33149:3ad5abdce4b51d0d21ac46d02c915be9$</string>
            <key>textureFileName</key>
            <string>SolarBeam.png</string>
        </dict>
    </dict>
</plist>
