<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{60,0},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,52}</string>
                <key>spriteSourceSize</key>
                <string>{59,52}</string>
                <key>textureRect</key>
                <string>{{115,0},{59,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{174,0},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{229,0},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{282,0},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,53}</string>
                <key>textureRect</key>
                <string>{{336,0},{59,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,53}</string>
                <key>textureRect</key>
                <string>{{395,0},{59,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>front.png</string>
            <key>size</key>
            <string>{454,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00174245c9138840d8255f05a4f3a2fc:578fa58fe41e1dfcd31f85d337376815:c5a773155492b1fdf1e959c6644d7665$</string>
            <key>textureFileName</key>
            <string>front.png</string>
        </dict>
    </dict>
</plist>
