<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,39}</string>
                <key>spriteSourceSize</key>
                <string>{227,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{227,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,50}</string>
                <key>spriteSourceSize</key>
                <string>{208,50}</string>
                <key>textureRect</key>
                <string>{{0,39},{208,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,64}</string>
                <key>spriteSourceSize</key>
                <string>{188,64}</string>
                <key>textureRect</key>
                <string>{{0,89},{188,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,70}</string>
                <key>spriteSourceSize</key>
                <string>{159,70}</string>
                <key>textureRect</key>
                <string>{{0,153},{159,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,80}</string>
                <key>spriteSourceSize</key>
                <string>{145,80}</string>
                <key>textureRect</key>
                <string>{{0,223},{145,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{0,303},{130,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,99}</string>
                <key>spriteSourceSize</key>
                <string>{106,99}</string>
                <key>textureRect</key>
                <string>{{130,303},{106,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Surf.png</string>
            <key>size</key>
            <string>{236,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c30b9e93ff333919c2d16d1be2047b03:decb94bbfa22293316aaaf08acd08336:2638165980ebbea0635771cecbd372e8$</string>
            <key>textureFileName</key>
            <string>Surf.png</string>
        </dict>
    </dict>
</plist>
