<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{98,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DragonCut.png</string>
            <key>size</key>
            <string>{98,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d1f55a86a5fb37793c24106e56caaeb:58492ccea5bb9166f628349b3f4c1aa7:5153e920e1c9e7e3a628b9204088b1d7$</string>
            <key>textureFileName</key>
            <string>DragonCut.png</string>
        </dict>
    </dict>
</plist>
