<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{42,98}</string>
                <key>textureRect</key>
                <string>{{0,70},{42,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,111}</string>
                <key>spriteSourceSize</key>
                <string>{60,111}</string>
                <key>textureRect</key>
                <string>{{0,173},{60,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{30,0},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,116}</string>
                <key>spriteSourceSize</key>
                <string>{44,116}</string>
                <key>textureRect</key>
                <string>{{60,173},{44,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,133}</string>
                <key>spriteSourceSize</key>
                <string>{72,133}</string>
                <key>textureRect</key>
                <string>{{0,289},{72,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,103}</string>
                <key>spriteSourceSize</key>
                <string>{43,103}</string>
                <key>textureRect</key>
                <string>{{42,70},{43,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bite.png</string>
            <key>size</key>
            <string>{104,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0180735aa92ea9c7fc74b76f926f7256:3f68cce97e75177d3d397bf62052a9b1:a2693ade16820683392ea2b5c8d7195e$</string>
            <key>textureFileName</key>
            <string>Bite.png</string>
        </dict>
    </dict>
</plist>
