<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,83}</string>
                <key>spriteSourceSize</key>
                <string>{94,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{83,104},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,80}</string>
                <key>spriteSourceSize</key>
                <string>{97,80}</string>
                <key>textureRect</key>
                <string>{{1,86},{97,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,80}</string>
                <key>spriteSourceSize</key>
                <string>{101,80}</string>
                <key>textureRect</key>
                <string>{{97,1},{101,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LeafStorm.png</string>
            <key>size</key>
            <string>{178,187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:773623feaf9f16c661d83bbdbd21cb28:65317093da9a846b5896a2b0619fc720:821e50b9ef8687944ef9d63def7cead9$</string>
            <key>textureFileName</key>
            <string>LeafStorm.png</string>
        </dict>
    </dict>
</plist>
