<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,189}</string>
                <key>spriteSourceSize</key>
                <string>{35,189}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,190}</string>
                <key>spriteSourceSize</key>
                <string>{60,190}</string>
                <key>textureRect</key>
                <string>{{35,0},{60,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,191}</string>
                <key>spriteSourceSize</key>
                <string>{53,191}</string>
                <key>textureRect</key>
                <string>{{95,0},{53,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Thunder.png</string>
            <key>size</key>
            <string>{148,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bfc8de6dd1ba4bd0daba8926fda8e01:749f42e2689b4760d210edb722d589f9:cce7e83b754c9156e488c87fbd7ee8d1$</string>
            <key>textureFileName</key>
            <string>Thunder.png</string>
        </dict>
    </dict>
</plist>
