<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,47}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{50,0},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{102,0},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,46}</string>
                <key>spriteSourceSize</key>
                <string>{57,46}</string>
                <key>textureRect</key>
                <string>{{154,0},{57,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{58,45}</string>
                <key>textureRect</key>
                <string>{{211,0},{58,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{269,0},{53,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{322,0},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{374,0},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back.png</string>
            <key>size</key>
            <string>{426,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30d3f1675a4f8a3d7bdfb79b12b3dbe3:d452ccb25f14f643d81d777375668d5a:86491c77568009ac2e89a4c927492403$</string>
            <key>textureFileName</key>
            <string>back.png</string>
        </dict>
    </dict>
</plist>
