<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,116}</string>
                <key>spriteSourceSize</key>
                <string>{103,116}</string>
                <key>textureRect</key>
                <string>{{0,0},{103,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,107}</string>
                <key>spriteSourceSize</key>
                <string>{104,107}</string>
                <key>textureRect</key>
                <string>{{0,116},{104,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,93}</string>
                <key>spriteSourceSize</key>
                <string>{104,93}</string>
                <key>textureRect</key>
                <string>{{0,223},{104,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,83}</string>
                <key>spriteSourceSize</key>
                <string>{104,83}</string>
                <key>textureRect</key>
                <string>{{0,316},{104,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,78}</string>
                <key>spriteSourceSize</key>
                <string>{103,78}</string>
                <key>textureRect</key>
                <string>{{0,399},{103,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,66}</string>
                <key>spriteSourceSize</key>
                <string>{104,66}</string>
                <key>textureRect</key>
                <string>{{0,477},{104,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bite.png</string>
            <key>size</key>
            <string>{104,543}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69f2fb881bf5acaf084b85ebed390f90:a6c425e016eb4b63cfb90db0e5ad899f:a2693ade16820683392ea2b5c8d7195e$</string>
            <key>textureFileName</key>
            <string>Bite.png</string>
        </dict>
    </dict>
</plist>
