<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,66}</string>
                <key>spriteSourceSize</key>
                <string>{63,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{127,0},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{66,66},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{0,131},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{67,131},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{132,66},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{0,66},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{63,0},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back.png</string>
            <key>size</key>
            <string>{199,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b180524f98e86f3da489f9bfd07b5dcd:51f861f6a58524de478b3db5d4785a75:86491c77568009ac2e89a4c927492403$</string>
            <key>textureFileName</key>
            <string>back.png</string>
        </dict>
    </dict>
</plist>
