<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,66}</string>
                <key>spriteSourceSize</key>
                <string>{78,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,68}</string>
                <key>spriteSourceSize</key>
                <string>{75,68}</string>
                <key>textureRect</key>
                <string>{{0,66},{75,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{0,134},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,68}</string>
                <key>spriteSourceSize</key>
                <string>{73,68}</string>
                <key>textureRect</key>
                <string>{{0,198},{73,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{0,266},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{0,335},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{0,403},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back.png</string>
            <key>size</key>
            <string>{80,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2934bf5cf857d982bd70d1ae855bf6c:e5191e43e30d47f1618e799763c37da7:86491c77568009ac2e89a4c927492403$</string>
            <key>textureFileName</key>
            <string>back.png</string>
        </dict>
    </dict>
</plist>
