<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,75}</string>
                <key>spriteSourceSize</key>
                <string>{24,75}</string>
                <key>textureRect</key>
                <string>{{0,155},{24,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,76}</string>
                <key>spriteSourceSize</key>
                <string>{17,76}</string>
                <key>textureRect</key>
                <string>{{0,79},{17,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,79}</string>
                <key>spriteSourceSize</key>
                <string>{12,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{12,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,79}</string>
                <key>spriteSourceSize</key>
                <string>{12,79}</string>
                <key>textureRect</key>
                <string>{{12,0},{12,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Thunderbolt.png</string>
            <key>size</key>
            <string>{24,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3d3740d9445da21d8ea7670013a61ca:0697184721a7b0f6f3c25e75a9bcb0fe:db617b3ea6293add7806d5db4b002a46$</string>
            <key>textureFileName</key>
            <string>Thunderbolt.png</string>
        </dict>
    </dict>
</plist>
