<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{69,34},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,43}</string>
                <key>textureRect</key>
                <string>{{0,152},{55,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{0,34},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{67,0},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{35,34},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{34,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,50}</string>
                <key>textureRect</key>
                <string>{{55,152},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,57}</string>
                <key>spriteSourceSize</key>
                <string>{73,57}</string>
                <key>textureRect</key>
                <string>{{0,202},{73,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,42}</string>
                <key>spriteSourceSize</key>
                <string>{41,42}</string>
                <key>textureRect</key>
                <string>{{38,110},{41,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{0,70},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{77,70},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{38,70},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{0,110},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FirePunch.png</string>
            <key>size</key>
            <string>{119,259}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92dab9a09532b86fc91eb6c2e6134d8f:58f8589d9b82764e421db6075c425b67:959df10ac1070af91f953cb173d6845b$</string>
            <key>textureFileName</key>
            <string>FirePunch.png</string>
        </dict>
    </dict>
</plist>
