<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{18,0},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,25}</string>
                <key>spriteSourceSize</key>
                <string>{16,25}</string>
                <key>textureRect</key>
                <string>{{35,0},{16,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walkright.png</string>
            <key>size</key>
            <string>{51,25}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:905ff165edc7c6d807950c594d26b81a:e036b08d7b9b28aa52478feff416c631:4047996f2739b4d2d3068def118e758e$</string>
            <key>textureFileName</key>
            <string>walkright.png</string>
        </dict>
    </dict>
</plist>
