<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,69}</string>
                <key>spriteSourceSize</key>
                <string>{59,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,70}</string>
                <key>textureRect</key>
                <string>{{59,0},{58,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,71}</string>
                <key>spriteSourceSize</key>
                <string>{57,71}</string>
                <key>textureRect</key>
                <string>{{117,0},{57,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,69}</string>
                <key>spriteSourceSize</key>
                <string>{59,69}</string>
                <key>textureRect</key>
                <string>{{174,0},{59,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,68}</string>
                <key>spriteSourceSize</key>
                <string>{61,68}</string>
                <key>textureRect</key>
                <string>{{233,0},{61,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{294,0},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{354,0},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{416,0},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>front.png</string>
            <key>size</key>
            <string>{480,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c73880844de6a45663887a657eb28ec:84d88ecd1c3811ce02a931a616b7b1ad:c5a773155492b1fdf1e959c6644d7665$</string>
            <key>textureFileName</key>
            <string>front.png</string>
        </dict>
    </dict>
</plist>
