<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,12}</string>
                <key>spriteSourceSize</key>
                <string>{5,12}</string>
                <key>textureRect</key>
                <string>{{9,44},{5,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{8,22},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,8}</string>
                <key>spriteSourceSize</key>
                <string>{11,8}</string>
                <key>textureRect</key>
                <string>{{0,6},{11,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,6}</string>
                <key>spriteSourceSize</key>
                <string>{13,6}</string>
                <key>textureRect</key>
                <string>{{0,0},{13,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,8}</string>
                <key>spriteSourceSize</key>
                <string>{11,8}</string>
                <key>textureRect</key>
                <string>{{0,14},{11,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{0,22},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,12}</string>
                <key>spriteSourceSize</key>
                <string>{5,12}</string>
                <key>textureRect</key>
                <string>{{11,32},{5,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,12}</string>
                <key>spriteSourceSize</key>
                <string>{9,12}</string>
                <key>textureRect</key>
                <string>{{0,44},{9,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{0,32},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RazorLeaf.png</string>
            <key>size</key>
            <string>{16,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d746d72d99dcc919f60d1bbb46787d62:fd58a77aee4b49ad7a8f70a62f85aaf9:f9e2e66f98056aa7a6e10c4def9dee7d$</string>
            <key>textureFileName</key>
            <string>RazorLeaf.png</string>
        </dict>
    </dict>
</plist>
