<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,7}</string>
                <key>spriteSourceSize</key>
                <string>{4,7}</string>
                <key>textureRect</key>
                <string>{{0,0},{4,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{4,0},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{0,34},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{0,15},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{15,0},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ember.png</string>
            <key>size</key>
            <string>{29,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c7ddcbd9de401344f3eb983bd06b81f:83104cbea651b309faac039330db48f4:ea14a3e7244e61e50d13caa37e8adb7c$</string>
            <key>textureFileName</key>
            <string>Ember.png</string>
        </dict>
    </dict>
</plist>
